@import "tailwindcss";

@theme {
 /*  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

:root {
  --font-mulish: 'Mulish', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mulish);
  
}

@layer components {

  main{
    @apply w-full flex justify-center flex-col
  }
  h1{
    font-family: var(--font-alegreya);
    @apply font-bold text-xl
  }
  
  h2,h3{
    font-family: var(--font-alegreya);
    @apply font-semibold text-base
  }
    
  section{
    @apply px-4 w-full
  }
    
}

.button-primary{
  @apply bg-blue-400 text-white px-6 py-2 rounded-lg
}

.button-primary:hover{
  @apply bg-blue-500 
}

.link-primary{
  @apply text-blue-400 cursor-pointer font-semibold
}

.link-primary:hover{
  @apply text-blue-500 
}